body {
    background: #000000;
    color: #ffffff;
    font-family: 'Times New Roman';
}

h1{
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

h2{
    font-size: 32px;
    text-shadow: #808080 4px 4px 2px;
}

p{
    font-size: 24px;
    padding-top: 15px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 550px;
    height: 100%;
}

div{
    min-height: 150px;
    padding: 25px;
}

#red{
    background: red;
    text-align: right;
}

#blue{
    background: blue;
    text-align: left;
}

#yellow{
    background: yellow;
    text-align: right;
}

#yellow p{
    color: black;
}

#yellow h2{
    color: black;
    text-shadow: #c7e2c7 4px 4px 2px;
}

#green{
    background: #008000;
    text-align: left;
}

footer{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}